/* canvas {
  width: 100% !important;
  height: 400px !important;
} */
div{
  width: 45vw;
   height: '360px';
}
/* .canvasjs-chart-credit{
  display:none !important;
  visibility: hidden;
  } */


  /*
div>a{
  display:none;
  visibility: hidden;
} */